<div class="container" id="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Alpha Blog!</h1>
    <p class="lead">Your place for a great example of what Ruby on Rails is capable of.</p>
    <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>